.neon-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.neon-text {
  font-size: 4rem;
  color: #fff;
  text-shadow: 0 0 5px orangered, 0 0 10px orangered, 0 0 20px orangered,
    0 0 40px orangered, 0 0 80px orangered;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e,
      0 0 40px #ff005e, 0 0 80px #ff005e;
  }
  100% {
    text-shadow: 0 0 10px orangered, 0 0 20px orangered, 0 0 40px orangered,
      0 0 80px orangered, 0 0 160px orangered;
  }
}
