.header_mail_link {
  /* position: relative; */
  padding: 1rem 2rem;
  color: white;
  background: #3b3b3b;
  border: 2px solid orangered;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s ease;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2px;
  box-sizing: border-box;
  box-shadow: insert 0 20px 50px rgba(0, 0, 0, 0.2);
}

.glitch:hover {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-4px, 4px);
  }
  40% {
    transform: translate(-4px, -4px);
  }
  60% {
    transform: translate(4px, 4px);
  }
  80% {
    transform: translate(4px, -4px);
  }
  100% {
    transform: translate(0);
  }
}
